<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!--<test thread-count="5" name="Test">
  </test>--> <!-- Test -->
  
  <listeners>
	<listener class-name="project.qa.swaglabs.listeners.ExtentReportListener"></listener>
  </listeners>
  
  <test name="LoginTest">
	<classes>
		<class name="project.qa.swaglabs.tests.LoginTest"></class>
	</classes>
  </test>
</suite> <!-- Suite -->
